spring:
  application:
    name: myapptest
server:
  port: 9999
eureka:
  client:
    register-with-eureka: true
    fetch-registry: false
    service-url:
      defaultZone: http://admin:admin123@localhost:8101/eureka/
management:
  endpoints:
    web:
      exposure:
        include: refresh,health,info
data:
 message: 你好,20201111111111
